/* FOOTER */
#footer{
    font-family:'poppins', sans-serif;
    font-weight: 800;
    font-size:80%;
    background-image: url("https://www.thesprucecrafts.com/thmb/J_JeMbDwWVl_KgWMtNu4p5tG-RE=/3750x2500/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-627288108-58c4a8e73df78c353c165ea6.jpg");
    padding: 30px;
}

a{
    text-decoration:none;
}

.coqui{
        padding: 250px;
}

.footer {
    grid-area: footer;
    font-family:'poppins', sans-serif;
    font-weight: 800;
    font-size:80%;
    background-image: url("https://www.thesprucecrafts.com/thmb/J_JeMbDwWVl_KgWMtNu4p5tG-RE=/3750x2500/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-627288108-58c4a8e73df78c353c165ea6.jpg");
    padding: 30px;
}