/* FOOTER */
#footer{
    font-family:'poppins', sans-serif;
    font-weight: 800;
    font-size:80%;
    background-color:#cbf3f0;}
a{
    text-decoration:none;
}

.footer {
    grid-area: footer;
    font-family:'poppins', sans-serif;
    font-weight: 800;
    font-size:80%;
    background-color:#cbf3f0;
    padding: 30px;
    margin-top: 30px
    }

.redes{
    text-decoration:none;
    color:#ffa69e;
    margin:auto;
    text-align:center;
    display: inline-block;
}
.redesdos{
    text-decoration:none;
    color:#ffa69e;
    font-style: oblique;
font-weight: 800;
font-size: 150%;
font-family: 'poppins', sans-serif;
text-align: center;
line-height: 1.5;}