/* map*/
.parrafo_rosa, .parrafo_rosados {
  padding: 0.5rem;
  font-size: 40px; }

/* extend*/
.parrafo_rosados {
  color: black; }

/* Mixin*/
.imagenesdos {
  height: 700px;
  width: 1000px; }

.logoImagen {
  height: 100px;
  width: 100px; }

* {
  margin: 0;
  padding: 0; }

/* LOGO */
.logoImagen {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px; }

/* NAV */
.nav-item .nav-link {
  color: black; }

.vero {
  background-color: #cbf3f0;
  color: black;
  text-decoration: none; }

.navbar-vero ul li {
  color: black;
  text-decoration: none; }

/* H1 */
h1 {
  text-align: center;
  color: #f07167;
  font-style: oblique;
  font-weight: 800;
  font-size: 250%;
  font-family: 'poppins', sans-serif;
  margin-top: .5rem; }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55); }

/* CAROUSEL */
.carousel-innervero {
  height: 720px;
  width: 700px;
  justify-content: center;
  align-items: center;
  margin: auto; }

.carouselveronica {
  height: 720px;
  width: 700px;
  justify-content: center;
  align-items: center;
  margin: auto; }

.imagenesdos {
  height: 720px;
  width: 700px;
  justify-content: center;
  align-items: center;
  margin: auto; }

.espaciovero {
  height: 1000px;
  width: 850px;
  justify-content: center;
  align-items: center;
  margin: auto; }

.blockvero {
  margin: auto; }

.imagenesrotate {
  transform: rotateY(180deg); }

.iframe {
  width: 600px;
  transition: 1s; }

.iframe:hover {
  width: 1000px; }

/* PARRAFO */
.parrafo_rosa, .parrafo_rosados {
  color: #ffa69e;
  font-style: oblique;
  font-weight: 800;
  font-size: 150%;
  font-family: 'poppins', sans-serif;
  text-align: center;
  line-height: 1.5; }

.parrafo {
  color: #ffa69e;
  font-style: oblique;
  font-weight: 800;
  font-size: 100%;
  font-family: 'poppins', sans-serif;
  text-align: center;
  line-height: 1.5; }

/* BOTON*/
.btnPropio {
  background-color: #ffa69e;
  padding: 50 px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-left: 340px;
  margin-bottom: 50px; }

.col-12.btn-center {
  display: flex; }

.titulos {
  text-align: center;
  color: #f07167;
  font-style: oblique;
  font-weight: 800;
  font-size: 200%;
  font-family: 'poppins', sans-serif; }

/* NOSOTROS*/
.parrafo_dos {
  color: #ffa69e;
  font-style: oblique;
  font-weight: 500;
  font-size: 100%;
  font-family: 'poppins', sans-serif;
  text-align: justify;
  line-height: 2.5;
  padding: 10px; }

/* QUILLING*/
.iframe {
  background-color: #cbf3f0;
  padding: 15px 30px;
  border-radius: 15px;
  width: 1000px;
  height: 500px; }

.iframe {
  width: 600px;
  transition: 1s; }

.iframe:hover {
  width: 1000px; }

.coqui {
  grid-area: titulo;
  justify-content: center;
  align-items: center;
  padding: 5px; }

/* CONTACTO */
.form {
  display: block;
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #00afb9;
  border-radius: 15px; }

.form textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ffa69e;
  border-radius: 15px;
  background-color: #f8e5e3;
  resize: none; }

.form input {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ffa69e;
  border-radius: 15px;
  background-color: #f8e5e3;
  resize: none; }

input[type=submit],
input[type=reset] {
  background-color: #f8e5e3;
  border: black;
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  margin: 6px 4px;
  cursor: pointer;
  border-radius: 15px; }

/* FOOTER */
#footer {
  font-family: 'poppins', sans-serif;
  font-weight: 800;
  font-size: 80%;
  background-color: #cbf3f0; }

a {
  text-decoration: none; }

.footer {
  grid-area: footer;
  font-family: 'poppins', sans-serif;
  font-weight: 800;
  font-size: 80%;
  background-color: #cbf3f0;
  padding: 30px;
  margin-top: 30px; }

.redes {
  text-decoration: none;
  color: #ffa69e;
  margin: auto;
  text-align: center;
  display: inline-block; }

.redesdos {
  text-decoration: none;
  color: #ffa69e;
  font-style: oblique;
  font-weight: 800;
  font-size: 150%;
  font-family: 'poppins', sans-serif;
  text-align: center;
  line-height: 1.5; }

/* Responsive */
@media screen and (max-width: 992px) {
  h1 {
    text-align: center;
    color: #f07167;
    font-style: oblique;
    font-weight: 800;
    font-size: 200%;
    font-family: 'poppins', sans-serif; }
  h2 {
    font-size: 150%; }
  .carousel-innervero {
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center; }
  .carouselveronica {
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .imagenesdos {
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .espaciovero {
    height: 800px;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  /* PARRAFO */
  .parrafo_rosa, .parrafo_rosados {
    color: #ffa69e;
    font-style: oblique;
    font-weight: 800;
    font-size: 130%;
    font-family: 'poppins', sans-serif;
    text-align: center;
    line-height: 1.5; }
  /* BOTON */
  .btnPropio {
    background-color: #ffa69e;
    padding: 50 px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: 180px;
    margin-bottom: 20px; }
  .col-12.btn-center {
    display: flex; }
  .redesdos {
    text-decoration: none;
    color: #ffa69e;
    font-style: oblique;
    font-weight: 800;
    font-size: 130%;
    font-family: 'poppins', sans-serif;
    text-align: center;
    line-height: 1.5; }
  .iframe {
    background-color: #cbf3f0;
    padding: 10px 15px;
    border-radius: 10px;
    width: 500px; } }

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    grid-template-areas: "navegaciones navegaciones" "titulo titulo" "footer footer";
    height: fit-content; }
  .navegacion {
    display: flex;
    flex-direction: column;
    flex: wrap;
    align-items: center;
    background-color: #ffa69e; }
  .coqui {
    flex-wrap: wrap; }
  #footer {
    flex-direction: column;
    flex-wrap: wrap; }
  #menu {
    background-color: #ffa69e; }
  .iframe {
    background-color: #cbf3f0;
    padding: 10px 15px;
    border-radius: 10px;
    width: 300px;
    height: 150px; }
  .form {
    display: block;
    width: auto;
    padding: auto auto;
    margin: 15px 0;
    box-sizing: border-box;
    border: 2px solid #00afb9;
    border-radius: 15px; }
  .form textarea {
    padding: 20% 20%;
    box-sizing: border-box;
    border: 3px solid #00afb9;
    border-radius: 15px;
    background-color: #cbf3f0;
    resize: none; }
  .form input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #00afb9;
    border-radius: 15px;
    background-color: #cbf3f0;
    resize: none; }
  input[type=submit],
  input[type=reset] {
    background-color: #cbf3f0;
    border: black;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 15px; }
  h1 {
    text-align: center;
    color: #f07167;
    font-style: oblique;
    font-weight: 800;
    font-size: 140%;
    font-family: 'poppins', sans-serif; }
  #menu ul a {
    color: black;
    text-align: center;
    padding: 5px 3px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'poppins', sans-serif; }
  #menu ul {
    display: inline-block;
    display: flex;
    padding-right: 8 px; }
  #menu ul li {
    display: flex;
    position: relative;
    color: #00afb9;
    list-style-type: none;
    padding: 0 10px;
    font-size: 20px; }
  .carousel-innervero {
    height: 350px;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .carouselveronica {
    height: 350px;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .imagenesdos {
    height: 350px;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .espaciovero {
    height: 630px;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .parrafo_rosa, .parrafo_rosados {
    color: #ffa69e;
    font-style: oblique;
    font-weight: 800;
    font-size: 100%;
    font-family: 'poppins', sans-serif;
    text-align: center;
    line-height: 1.5; }
  .btnPropio {
    background-color: #ffa69e;
    padding: 50 px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 20px; }
  .col-12.btn-center {
    display: flex; }
  .redesdos {
    text-decoration: none;
    color: #ffa69e;
    font-style: oblique;
    font-weight: 800;
    font-size: 100%;
    font-family: 'poppins', sans-serif;
    text-align: center;
    line-height: 1.5; }
  /* FORM */
  textarea#consulta {
    height: 500px;
    width: 320px;
    font-size: 14px; }
  input#email {
    height: 70px;
    width: 320px;
    font-size: 14px; }
  input#pwd {
    height: 70px;
    width: 320px;
    font-size: 14px; }
  select {
    font-size: 14px; } }

@media screen and (max-width: 400px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    grid-template-areas: "navegaciones" "titulo" "footer";
    height: fit-content; }
  .navegacion {
    flex-direction: column;
    flex: wrap;
    align-items: center;
    background-color: #f8e5e3; }
  .coqui {
    flex-wrap: wrap; }
  #footer {
    flex-direction: column;
    flex-wrap: wrap; }
  #menu {
    background-color: #f8e5e3; }
  .form {
    display: block;
    width: auto;
    padding: auto auto;
    margin: 15px 0;
    box-sizing: border-box;
    border: 2px solid #00afb9;
    border-radius: 15px; }
  .form textarea {
    padding: 10% 10%;
    box-sizing: border-box;
    border: 3px solid #00afb9;
    border-radius: 15px;
    background-color: #cbf3f0;
    resize: none; }
  .form input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #00afb9;
    border-radius: 15px;
    background-color: #cbf3f0;
    resize: none; }
  input[type=submit],
  input[type=reset] {
    background-color: #cbf3f0;
    border: black;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 15px; }
  #menu ul a {
    color: black;
    text-align: center;
    padding: 3px 1px;
    text-decoration: none;
    font-size: 10px;
    font-family: 'poppins', sans-serif; }
  #menu ul {
    display: inline-block;
    display: flex;
    padding-right: 5 px; }
  #menu ul li {
    display: flex;
    position: relative;
    color: #00afb9;
    list-style-type: none;
    padding: 0 10px;
    font-size: 10px; }
  .titulos {
    text-align: center;
    color: #f07167;
    font-style: oblique;
    font-weight: 800;
    font-size: 100%;
    font-family: 'poppins', sans-serif; }
  .carousel-innervero {
    height: 350px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .carouselveronica {
    height: 350px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .imagenesdos {
    height: 350px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .espaciovero {
    height: 630px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .parrafo_rosa, .parrafo_rosados {
    color: #ffa69e;
    font-style: oblique;
    font-weight: 500;
    font-size: 100%;
    font-family: 'poppins', sans-serif;
    text-align: center;
    line-height: 1.5; } }

@media screen and (max-width: 400px) {
  .titulos {
    text-align: center;
    color: #f07167;
    font-style: oblique;
    font-weight: 800;
    font-size: 100%;
    font-family: 'poppins', sans-serif;
    margin-top: .5rem; }
  .carousel-innervero {
    height: 350px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .carouselveronica {
    height: 350px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .imagenesdos {
    height: 230px;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .espaciovero {
    height: 500px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .parrafo_rosa, .parrafo_rosados {
    color: #ffa69e;
    font-style: oblique;
    font-weight: 800;
    font-size: 80%;
    font-family: 'poppins', sans-serif;
    text-align: center;
    line-height: 1.5; }
  .btnPropio {
    margin-left: 15px;
    margin-bottom: 2px; }
  .redesdos {
    font-size: 80%; }
  .iframe {
    background-color: #cbf3f0;
    padding: 10px 15px;
    border-radius: 10px;
    width: 170px; }
  .iframe:hover {
    width: 200px; }
  /* FORM */
  textarea#consulta {
    height: 180px;
    width: 200px;
    font-size: 12px; }
  input#email {
    height: 70px;
    width: 200px;
    font-size: 12px; }
  input#pwd {
    height: 70px;
    width: 200px;
    font-size: 12px; }
  select {
    font-size: 12px; } }

/* NAVEGACION */
.navegacion {
  grid-area: navegaciones;
  background-color: #f8ffff;
  background: linear-gradient(52deg, #f8ffff 0%, #cbf3f0 65%, #6dc8cd 98%);
  display: flex;
  justify-content: space-around;
  align-items: center; }
